@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/App.scss';

@import './components/Buttons/Buttons.scss';

@import './containers/Header/Header.scss';
@import './containers/Menu/Menu.scss';
@import './containers/Section/Section.scss';

@import './layouts/Navbar/Navbar.scss';

@import './pages/HomePage/HomePage.scss';

@font-face {
  font-family: 'BwModelica';
  src: url('./fonts/BwModelica-Regular.otf');
}

@layer base {
  :root {
    --color-primary: 10 38 64;
    --color-secondary: 105 230 166;
  }

  html {
    @apply box-border;
  }

  body {
    @apply min-h-screen font-BwModelica;
  }

  a {
    @apply no-underline;
  }

  * {
    @apply p-0 m-0 scroll-smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
